@use "./variables";

html, body {
  color: variables.$dark !important;
  scrollbar-gutter: stable;
}

input {
  border-radius: variables.$border-radius !important;
}

.btn {
  border-radius: variables.$border-radius !important;
}

//::-webkit-scrollbar:hover {
//  width: 12px !important;
//  transition: width 0.3s;
//}

::-webkit-scrollbar {
  scroll-behavior: smooth !important;
  width: 8px !important;
  border-radius: variables.$border-radius-scroll !important;

  &-track {
    border-radius: variables.$border-radius-scroll !important;
  }

  &-thumb {
    background-color: variables.$dark !important;
    border-radius: variables.$border-radius-scroll !important;
  }

}

.Toastify__toast {
  border-radius: variables.$border-radius_small!important;
  box-shadow: variables.$box-shadow!important;
  &-container {

    padding: 0 !important;
  }
}
