@use "../App/variables";

.home {
  &__body {
    padding: 2rem;
  }

  &__total-number, &__sum {
    padding: 1rem;
    background-color: variables.$dark;
    color: white;
    border-radius: variables.$border-radius;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__info {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
  }
}
