@use "../../App/variables";
@use "../../App/mixin";

.installations-overview {
  @include mixin.card__no-hover;

  &__total-number, &__sum {
    padding: 1rem;
    background-color: variables.$dark;
    color: white;
    border-radius: variables.$border-radius;
  }

  &__form {
    @include mixin.grid;
  }

  &__info {
    //@include mixin.grid(16rem);
  }

  &__table {
    overflow: auto;
    max-height: 57vh;
  }
}

@media screen and (max-width: 1024px) {
  .installations-overview {
    &__table {
      max-height: 33vh;
    }
  }
}
