@use "../../App/variables";
@use "../../App/mixin";

.installations-overview {
  @include mixin.card__no-hover;

  &__total-number, &__sum {
    padding: 1rem;
    background-color: variables.$dark;
    color: white;
    border-radius: variables.$border-radius;
  }

  &__form {
    @include mixin.grid(17rem);
  }



  &__table {
    overflow: auto;
    max-height: 50vh;
  }
}

@media screen and (max-width: 1439px) {
  .installations-overview {
    &__table {
      max-height: 30vh;
    }
    &__form {
      @include mixin.grid(13rem);
    }
  }
}
